*{
    font-family:  Geneva;
}
.c1{
    text-align: center;
    color:#453E85;
    margin-bottom: 40px;
  
}
.grey{
   
    color:#788696;
  
    margin-bottom: 25px;
   
}
.stih{
  
    white-space: pre;
}